<div class="content">
    <div class="container">
    <% all_friends = get_all_friends(@user.id)%>
        <div class="row">
            <% all_friends.each do |friend| %>
                <% friend.sender_id != @user.id ? fr = get_friend(friend.sender_id) : fr = get_friend(friend.receiver_id) %>
                <% request_received = request_received(fr.id)[0]%>
                <div class="col-lg-4">
                    <div class="text-center card-box">
                        <div class="member-card pt-2 pb-2">
                            <div class="thumb-lg member-thumb mx-auto">
                                <% if fr.avatar.attached? %>
                                    <%=link_to image_tag(fr.avatar, class: "rounded-circle img-thumbnail"), profile_path(user_id: fr.id)%>
                                <% else %>
                                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="default-photo" class="rounded-circle img-thumbnail">
                                <% end %> 
                            </div>
                            <div class="mt-3">
                                <h4><%= link_to fr.first_name + " " + fr.last_name, profile_path(user_id: fr.id) %></h4>
                                <p class="text-muted">@email <span>| </span><span><a href="#" class="text-pink"><%=fr.email%></a></span></p>
                            </div>
                            <% if friend?(fr.id) %>
                                <% request_of_fr = get_specific_accepted_request(fr.id)[0]%>
                                <%= link_to 'Unfriend', request_path(request_of_fr.id), method: :delete, class: "btn btn-sm btn-danger"%>
                            <% elsif !received_or_sent_request?(fr.id) and !friend?(fr.id) and current_user != fr %>
                                <%=link_to "Add friend", requests_path(receiver_id: fr.id), method: :post, class: "btn btn-sm btn-primary"%>
                            <% elsif request_sent?(fr.id) and current_user != fr and !friend?(fr.id) %>
                                <%=link_to ('<i class="fa fa-user-clock fa-lg" aria-hidden="true"></i>').html_safe, request.referer, class: "btn btn-link active", style: "color: blue !important;"%>
                            <% elsif current_user == fr %>
                                <%= link_to ('<i class="fas fa-user-edit fa-lg"></i>').html_safe, edit_user_registration_path, class: "btn btn-link active" %>
                            <% elsif request_received.present? and current_user != fr and !friend?(fr.id) %>
                                <%= link_to 'Accept', request_path(request_received.id), method: :patch, class: "btn btn-sm btn-primary"%>
                                <%= link_to 'Reject', request_path(request_received.id), method: :delete, class: "btn btn-sm btn-danger"%>
                            <% end %>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>