
<% if comments %>
<% comments.each do |comment| %>
    <div class="media mb-4">
        <%=link_to image_tag(comment.user.avatar, class: "d-flex mr-3 rounded-circle", style: 'height:30px; width:30px;'), profile_path(user_id: comment.user.id)%>
        <div class="media-body">
            <h5 class="mt-0"><%= link_to comment.user.first_name + " " + comment.user.last_name, profile_path(user_id: comment.user.id), class: 'text-decoration-none' %></h5>
            <%= comment.body %>
                        <br>            
            <small>
                <%= time_ago_in_words(comment.created_at)%> ago
            </small>
        </div>
        
        <% if comment.user == current_user %>
        <%= link_to ('<i class="fa fa-trash" aria-hidden="true" style="font-size:16px;" ></i>').html_safe, [comment.post, comment], remote: true,
                    method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' }, class: 'btn btn-link', style: " border: none; outline:none;" %>
        <% end %>
    </div>
<% end %>
<% end %>
