<!DOCTYPE html>
<html>
  <head>
    <title>FbReplica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
   
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/> 

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body style="background-color:#ffffff;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to 'Home', root_path, class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in?%>
        <li class="nav-item active">
          <%= link_to 'New Post', new_post_path, class: "nav-link" %><span class="sr-only">(current)</span>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to 'My Profile', profile_path(user_id: current_user.id), class: "dropdown-item" %>
            <%= link_to 'Edit Profile', edit_user_registration_path, class: "dropdown-item" %>
          </div>
        </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="nav-item">
          <%=link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link"%>
          </li>
        <% else %>
          <li class="nav-item">
          <%=link_to 'Log In', new_user_session_path, class: "nav-link"%>
          </li>
          <li class="nav-item">
          <%=link_to 'Sign Up', new_user_registration_path, class: "nav-link"%>
          </li>
        <% end %>
        
      </ul>
    </div>
  </nav>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <%= yield %>
</body>
</html>


<script>
$(document).on("click", '[data-toggle="lightbox"]', function(event) {
  event.preventDefault();
  $(this).ekkoLightbox();
});
function myFunc(id){
$(`#comments-${id}`).toggle();
}

function reply_func(id){
  $(`#reply-${id}`).toggle();
};
</script>